In [37]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

import pandas as pd
import numpy as np

In [2]:
key = 'p86ceXpSHod%2F214L%2FbOqm5CcOWL%2BE2qiKvk%2FPZLShmRO93C6B2sp%2BVj4kZiEDaNXq0oQvgChPoXRMxDoacJd1A%3D%3D'

In [3]:
def get_data(key, data_name, numrows, enddate):
    
    url = 'http://openapi.data.go.kr/openapi/service/rest/Covid19/' + data_name + '?serviceKey=' + key
    header_params = {'pageNo': '1', 'numOfRows': str(numrows), 'startCreateDt': '20191201', 'endCreateDt': str(enddate)}
    response = requests.get(url, params=header_params)
    
    if (response.status_code == 200) & (('<resultCode>99' in response.text) != True):
        return BeautifulSoup(response.content, 'xml')
    else:
        return print("Error code:", response.status_code)

In [5]:
# 감염현황 getCovid19InfStateJson
# 시도 발생현황 getCovid19SidoInfStateJson
# 연력성별 발생현황 getCovid19GenAgeCaseInfJson
# 해외 발생현황 getCovid19NatInfStateJson

nm = ['getCovid19InfStateJson','getCovid19SidoInfStateJson','getCovid19GenAgeCaseInfJson']

col1 = ['seq','stateDt','decideCnt','clearCnt','examCnt','deathCnt','careCnt','resutlNegCnt','accExamCnt','accExamCompCnt','accDefRate']
col2 = ['seq','stdDay','deathCnt','gubun','gubunCn','gubunEn','incDec','isolClearCnt','qurRate','defCnt','isolIngCnt','overFlowCnt','localOccCnt']
col3 = ['seq','gubun','confCase','confCaseRate','death','deathRate','criticalRate','createDt']
col = [col1, col2, col3]

In [32]:
for i in range(len(nm)):
    
    exec('{} = pd.DataFrame()'.format(nm[i]))
    df = get_data(key, nm[i], 1000, 20200803)

    for j in col[i]:
        
        data = df.find_all(j)
        data = [x.text for x in data]
        data = pd.Series(data).to_frame()
        exec('{}["{}"] = data[0]'.format(nm[i], j))

    print(nm[i])

getCovid19InfStateJson
getCovid19SidoInfStateJson
getCovid19GenAgeCaseInfJson

In [34]:
getCovid19InfStateJson

,seq,stateDt,decideCnt,clearCnt,examCnt,deathCnt,careCnt,resutlNegCnt,accExamCnt,accExamCompCnt,accDefRate
0,219,20200803,14389,13280,17401,301,808,1547967,1579757,1562356,0.9209808775
1,218,20200802,14366,13259,17768,301,806,1544112,1576246,1558478,0.9217967786
2,217,20200801,14336,13233,18278,301,802,1539216,1571830,1553552,0.9227885516
3,216,20200731,14305,13183,18330,301,821,1531161,1563796,1545466,0.9256107866
4,215,20200730,14269,13132,19018,300,837,1522928,1556215,1537197,0.9282479734
...,...,...,...,...,...,...,...,...,...,...,...
214,5,20200205,18,0,129,0,NaN,NaN,NaN,NaN,
215,4,20200204,0,0,0,0,NaN,NaN,NaN,NaN,
216,3,20200203,15,0,0,0,NaN,NaN,NaN,NaN,
217,2,20200202,2,2,2,2,NaN,NaN,NaN,NaN,
218,1,20200101,0,1,1,0,NaN,NaN,NaN,NaN,

In [35]:
getCovid19InfStateJson

,seq,stateDt,decideCnt,clearCnt,examCnt,deathCnt,careCnt,resutlNegCnt,accExamCnt,accExamCompCnt,accDefRate
count,219,219,219,219,219,219,159,159,159,159,219
unique,219,185,193,173,209,114,149,155,156,156,157
top,131,20200208,28,2,939,0,1843,575184,431743,413858,
freq,1,5,10,8,4,37,3,3,2,2,60

In [41]:
getCovid19InfStateJson.dtypes

seq               object
stateDt           object
decideCnt         object
clearCnt          object
examCnt           object
deathCnt          object
careCnt           object
resutlNegCnt      object
accExamCnt        object
accExamCompCnt    object
accDefRate        object
dtype: object

In [ ]:
#df[['parks', 'playgrounds', 'sports']].apply(lambda x: x.astype('category'))